@media (min-width: 768px){
    .text-field, .textinput, .url-field, select,
    .input-group ~ .text-field, .input-group ~ .textinput,
    .input-group ~ .url-field {
        max-width: 100%;
     }
}

/*textarea.form-control {*/
    /*max-height: 200px;*/
    /*height: 150px;*/
/*}*/
.django-ckeditor-widget{
    width: 100%!important;
}
.cke_inner{
     width: 100%!important;
}